.form {
  /* margin: auto; */
  margin-bottom: 1%;
  padding: 3%0;
  text-align: center;
}

.intro-text {
  text-align: center;
  background-color: rgb(233, 233, 233);
  padding: 1%;
}

.btn {
  margin-top: 1%;
}

.form-control {
  margin-bottom: 1%;
}

.order-input {
  background-color: aliceblue;
  height: 420px;
  display: block;
  margin: auto;
  max-width: 90%;
}

hr {
  max-width: 90%;
}

.open-orders {
  border-left: 1px solid rgb(197, 197, 197);
  height: 1000px;
  position: absolute;
  left: -15%;
  margin-left: -3px;
  top: 0;
}

.open-text {
  text-align: center;
}

table {
  margin: 6%;
  
}

/* #totalCostDisp {
  padding-left: 10%;
} */

.glyphicon-calendar {
  font-size: 15pt;
}
.input-group {
  width: 180px;
  margin-top: 30px;
}

#new-order-btn {
    float: right;
}


.header {
  color: rgb(189, 189, 189);
}

@media screen and (max-width: 900px){
  .infoDisp {
    width: 95%;
  }
}

@media only screen and  (max-width: 760px) {

td, tr, th { display: block;
max-width: 95%;
}

/* Hide table headers (but not display: none;, for accessibility) */

thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}



tr + tr { margin-top: 1.5em; }
/* make like a "row" */
td {
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  text-align: left;
}

td:before {
  content: attr(data-label);
  display: inline-block;
  line-height: 1.5;
  margin-left: -100%;
  width: 100%;
  white-space: nowrap;
}
}
