.form {
  /* margin: auto; */
  margin-bottom: 10%;
  padding: 3%;
  text-align: center;
}

.intro-text {
  text-align: center;
  background-color: rgb(233, 233, 233);
  padding: 1%;

}

.btn {
  margin-top: 1%;
}

.form-control {
  margin-bottom: 1%;
}

.order-input {
  background-color: aliceblue;
  height: 460px;
  margin-bottom: 2%;
  /* display: block;
  margin: auto;
  max-width: 90%; */
}

hr {
  max-width: 90%;
}

.open-orders {
  border-left: 1px solid rgb(197, 197, 197);
  height: 1000px;
  position: absolute;
  left: -2%;
  margin-left: -3px;
  top: 0;
}

.open-text {
  text-align: center;
}

table {
  margin: 6%;
  
}

.glyphicon-calendar {
  font-size: 15pt;
}
.input-group {
  width: 180px;
  margin-top: 30px;
}

#new-order-btn {
    float: right;
}

.header {
  color: rgb(189, 189, 189);
}

@media only screen and  (max-width: 768px) {
  .open-orders {
    border-left: 0px solid rgb(197, 197, 197);
  }
}


@media only screen and  (max-width: 760px) {

  .open-orders {
    border-left: 0px solid rgb(197, 197, 197);
    height: 1000px;
    position: absolute;
    left: -2%;
    margin-left: -3px;
    top: 0;
  }

td, tr, th { display: block;
max-width: 95%;
}

thead tr {
  display: none;
  /* position: absolute;
  top: -9999px;
  left: -9999px; */
}

/* tr + tr { margin-top: 1.5em; } */

td {
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  text-align: left;
  
}

tr {
  border: 1px solid gray;
  padding: 3%;
  margin-bottom: 5%;
}

 td:first-child {
  margin-top: 10%;
 }

.totalDisp {
margin-left: 4%;
}

.order-input {
  background-color: aliceblue;
  height: 420px;
  display: block;
  margin: auto;
  max-width: 90%;
}
}